[submodule "dataset"]
	path = dataset
	url = https://github.com/liespace/DPDataset.git
[submodule "pyRRTs"]
	path = pyRRTs
	url = https://github.com/liespace/pyRRTs.git
[submodule "pySEA"]
	path = pyRRTs
	url = https://github.com/liespace/pyRRTs.git
[submodule "YIPS"]
	path = YIPS
	url = https://github.com/liespace/YIPS.git
