[submodule "dataset"]
	path = Dataset
	url = https://github.com/liespace/DPDataset.git
[submodule "pyRRTs"]
	path = pyRRTs
	url = https://github.com/liespace/pyRRTs.git
[submodule "pySEA"]
	path = pySEA
	url = https://github.com/liespace/pySEA.git
[submodule "YIPS"]
	path = YIPS
	url = https://github.com/liespace/YIPS.git
[submodule "DataMaker"]
	path = DataMaker
	url = https://github.com/liespace/DataMaker.git
