[submodule "YIPS"]
	path = YIPS
	url = https://github.com/liespace/YIPS.git
[submodule "DataMaker"]
	path = DataMaker
	url = https://github.com/liespace/DataMaker.git
[submodule "myDockers"]
	path = myDockers
	url = https://github.com/liespace/myDockers.git
